= render :partial => 'shared/nav_bar'
- content_for :title, "Captain's Page"
.row
  .welcome.large-12.columns
    %strong Hello Captain #{current_user.first_name.titleize}!

.row.captain.profile_main
  .large-10.large-offset-1.small-10.columns.small-offset-1
    .row
      = render :partial => 'treasures/captain_treasure_board', :locals => {:treasure_board => @treasures}
    %br

.row
  .large-12.columns#mid_nav_bar
    = render :partial => 'shared/captain_sub_nav_bar', :locals => {:user => current_user}
%br

.row.box.captain.profile_left
  .large-4.column.large-offset-1.small-11
    .row
      = render :partial => 'list_of_pirates', :locals => {:pirates => @pirates}
    = link_to "Add Pirate", new_captain_pirate_path(current_user), :remote => true, :id => 'add_pirate'

  .large-4.column.large-offset-1.small-11.captain.profile_right
    .row
      - @tasks.each do |task|
        .large-12.columns.t_and_e
          = task.name
    %br

  .large-1.small-1.column
%br
.row
  .large-12.columns.captain.profile_bottom
