- content_for :title, "Captain's Page"
.row
  .large-12.columns
    %h1
      = 'Nav Bar is here'
.row
  .large-12.columns
    %h1 Captain #{@captain.username}
    %p Hello #{@captain.first_name}!
.row
  .large-10.large-offset-1.small-10.columns.small-offset-1.captain_profile_treasures         
    .row
      - @treasures.each do |treasure|
        .large-3.columns.treasure_item
          %img{:src => "http://us.cdn1.123rf.com/168nwm/orla/orla1010/orla101000044/8041795-wooden-treasure-chest-with-gold-coins-printed-with-royal-crown--3d-render.jpg"}/
          %br
          = link_to "#{treasure.name}", captain_task_path(current_user, treasure)
        .large-1.columns
    %br  
    = link_to "Add Treasure", captain_treasures_path(@captain)
%br
.row.box
  .large-4.column.large-offset-1.small-11.captain_profile  
    .row
      - @pirates.each do |pirate|
        .large-12.columns.t_and_e
          = link_to "#{pirate.name}", 
          captain_pirate_path(current_user, pirate) 
          / NEED A CAPTAIN PIRATE SHOW ROUTE
    = link_to "Add Pirate", new_captain_pirate_path(@captain)
  .large-4.column.large-offset-1.small-11.captain_profile
    .row
      - @tasks.each do |t|
        .large-12.columns.t_and_e
          = t.name
    = link_to "Create Adventure", captain_tasks_path(@captain) 
  .large-1.small-1.column
%br
.row 
  .large-12.columns
    %p Footer goes here...
