%h1
  Hello username:
%p
  = @captain.first_name

  = form_tag logout_path, :method => :post do
    = submit_tag "Logout"

%h3 Hello, #{@user.first_name}
%table.parent_admin
  %tr
    %td
      .check_status
        #text 
        = link_to "Add Pirate", "#"
    %td
      .add_reward
        #text 
        = link_to "Add Loot", new_user_item_path(@user)
  %tr
    %td
      .add_task
        #text 
        = link_to "Create Adventure", "#"
    %td
      .add_event
        #text 
        = link_to "Add Event", "#"
