- content_for :title, "Captain's Page"
%h1
  #{@captain.username}
%p
  = 'Hello ' "#{@captain.first_name}!"

%table.parent_admin
  %tr
    %td
      .check_status
        #text 
        = link_to "Add Pirate", new_captain_pirate_path(@captain)
    %td
      .add_reward
        #text 
        = link_to "Add Loot", captain_treasures_path(@captain)
  %tr
    %td
      .add_task
        #text 
        = link_to "Create Adventure", captain_tasks_path(@captain)
    %td
      .add_event
        #text 
        = link_to "Add Event", "#"
