.banner_index_small.show-for-small
= render :partial => 'shared/nav_bar'
- content_for :title, "Captain's Page"
.row.captain.items_treasure
  .welcome.large-12.columns
    %p
      Ahoy, Captain #{current_user.first_name.titleize}!

.row.captain.profile_main
  .large-11.large-offset-1.small-11.columns.small-offset-1
    .row
      = render :partial => 'treasures/captain_treasure_board', :locals => {:treasure_board => @treasures}
    %br
    #treasure_message

.row.nav_border
  .large-12.columns#mid_nav_bar
    = render :partial => 'shared/captain_sub_nav_bar', :locals => {:user => current_user}
%br
.row
  .large-6.columns.captain.profile_left
    = render :partial => 'list_of_pirates', :locals => {:pirates => @pirates}
    = link_to "+ ADD PIRATE", new_captain_pirate_path(current_user), :remote => true, :id => 'add_pirate'

  .large-6.columns.captain.profile_right
    = render :partial => 'tasks/list_of_tasks', :locals => {:tasks => @tasks }

%br
.row
  .large-6.columns.large-offset-3.captain.profile_bottom
  / .large-6.columns.captain.profile_bottom
