- content_for :title, "Captain's Page"

.row
  .large-12.columns
    %h1
      = 'Nav Bar is here'
.row
  .large-12.columns
    %h1 Captain #{current_user.username}
    %p Hello #{current_user.first_name}!
.row
  .large-10.large-offset-1.small-10.columns.small-offset-1.captain_profile_treasures
    .row
      - @treasures.each do |treasure|
        .large-3.columns.treasure_item
          %img{:src => "http://us.cdn1.123rf.com/168nwm/orla/orla1010/orla101000044/8041795-wooden-treasure-chest-with-gold-coins-printed-with-royal-crown--3d-render.jpg"}/
          %br
          = link_to "#{treasure.name}", captain_treasure_path(current_user, treasure), :remote => true, :class => 'captain_treasure_show'
        .large-1.columns
    %br
    = link_to "Check treasure cove", captain_treasures_path(current_user), :remote => true, :class => 'captain_treasure_cove'

%br
.row.box
  .large-4.column.large-offset-1.small-11.captain_profile_left
    .row
      - @pirates.each do |pirate|
        .large-12.columns.t_and_e
          = link_to "#{pirate.name}",
          captain_pirate_path(current_user, pirate)
          / NEED A CAPTAIN PIRATE SHOW ROUTE
    = link_to "Add Pirate", new_captain_pirate_path(current_user)
  .large-4.column.large-offset-1.small-11.captain_profile_right
    = link_to "Create Adventure", captain_tasks_path(current_user), :remote => true, :class => 'captain_task_cove'
    .row
      - @tasks.each do |task|
        .large-12.columns.t_and_e
          = task.name
  .large-1.small-1.column
%br
.row
  .large-12.columns.captain_profile_bottom
.row
  .large-12.columns.footer
    %p Footer goes here...
