%h1
  #{@captain.username}
%p
  = 'Hello ' "#{@captain.first_name}!"

  = form_tag logout_path, :method => :post do
    = submit_tag "Logout"

%table.parent_admin
  %tr
    %td
      .check_status
        #text 
        = link_to "Add Pirate", "#"
    %td
      .add_reward
        #text 
        = link_to "Add Loot", captain_treasures_path(@captain.id)
  %tr
    %td
      .add_task
        #text 
        = link_to "Create Adventure", captain_tasks_path(@captain)
    %td
      .add_event
        #text 
        = link_to "Add Event", "#"
