.large-4.columns.captain.profile_bottom_L
  #task_available_message
  %h3 Available Quests
  - tasks_available.first(Task::MAX).each do |task|
    %ul.task
      %li #{link_to task.name, edit_captain_task_path(current_user, task), :remote => true, :id => 'edit_task'}
      %li #{task.worth} Doubloons
      %li #{link_to 'Delete Quest', captain_task_path(current_user, task), :method => :delete, :remote => true, :class => 'delete_task'}

.large-4.columns.captain.profile_bottom_M
  #task_assigned_message
  %h3 Assigned Quests
  - tasks_assigned.first(Task::MAX).each do |task|
    %ul.task
      %li #{link_to task.name, edit_captain_task_path(current_user, task), :remote => true, :id => 'edit_task'}
      %li #{task.pirate.username}'s Quest
      %li #{task.worth} Doubloons
      %li #{link_to 'Delete Quest', captain_task_path(current_user, task), :method => :delete, :remote => true, :class => 'delete_task'}

.large-4.columns.captain.profile_bottom_R
  #task_completed_message
  %h3 Completed Quests
  - tasks_completed.first(Task::MAX).each do |task|
    %ul.task
      %li #{task.name}
      %li #{task.worth} Doubloons

