.error_max_task_limit
= form_for [captain, task], :remote => true do |f|
  = f.label "Name"
  = f.text_field(:name)
  = f.label "Description"
  = f.text_field(:description)
  = f.label "Worth How Much Gold?"
  = f.text_field(:worth)
  = f.submit "Create!",:class => 'new_pirate_button'
