Quests Waiting for Verification
#verify_task_message
- if current_user_has_pirates?
  - tasks.first(Task::MAX).each do |task|
    .small-12.columns.t_and_e
      %li #{link_to task.name, captain_task_path(current_user, task)}
      %li #{task.pirate.username}'s Quest
      %li #{task.worth} Doubloons
      %li Posted: #{task.created_at.strftime(time_format(task))}
      = link_to 'Confirm Complete?', captain_confirms_path(current_user, task), :remote => true, :class => 'tiny button alert round', :id => 'verified_task'
