- if task
  %h1 More Info: #{task.name}
  %ul.task
    %li #{task.name}
    %li Description: #{task.description}
    %li #{task.worth} Doubloons
    / %li Task created: #{task.created_at.strftime(time_format(task))}
    / %li Assigned: #{task.updated_at.strftime(time_format(task))}
- else
  %h1 No Tasks!
