.large-4.columns.pirate.profile_bottom_L
  %h3 Available Quests
  #task_available_message
  - tasks_available.first(Task::MAX).each do |task|
    %ul.task
      %li #{link_to task.name, pirate_task_path(current_user, task), :remote => true, :id => 'show_task'}
      %li #{task.worth} doubloons
      / %li Posted: #{task.created_at.strftime(time_format(task))}
      .accept_quest= link_to 'Accept Quest', pirate_adds_path(current_user, task), :remote => true, :class => 'tiny button success round'

.large-4.columns.pirate.profile_bottom_M
  %h3 Awaiting Confirmation
  #task_need_verify_message
  - tasks_need_verify.first(Task::MAX).each do |task|
    %ul.task
      %li #{link_to task.name, pirate_task_path(current_user, task), :remote => true, :id => 'show_task'}
      %li #{task.pirate.username}'s quest
      %li #{task.worth} doubloons
      / %li Posted: #{task.created_at.strftime(time_format(task))}

.large-4.columns.pirate.profile_bottom_R
  %h3 Completed Quests
  #task_completed_message
  - tasks_completed.first(Task::MAX).each do |task|
    %ul.task
      %li #{task.name}
      %li #{task.worth} doubloons
      / %li Posted: #{task.created_at.strftime(time_format(task))}
