= render :partial => 'shared/nav_bar'
%h1
  The Task: #{@task.name}
%h3
  Details: #{@task.description}
  %br
  Value: #{@task.worth} points

= link_to "Back", captain_tasks_path(current_user)
= link_to "Edit", edit_captain_task_path(current_user, @task)
= button_to "Delete", captain_task_path(@captain, @task), :method => :delete
