.row
  .large-12.columns
    %h1 All Quests for Captain #{current_user.username}'s Pirates

    %p.top_links
      %a.button.round{:href => new_captain_task_path(@captain) } Create new adventure!
    
      %a.button.round{:href => captain_path(current_user) } Back
  

    .large-12.columns
      %h3 Available Quests
      %ul
        = render :partial => "captain_tasks", :locals => {:tasks => @tasks_on_board, :button => false, :assigned => false }
  .row 
    .large-6.columns
      %h3 Assigned Quests
      %ul
        = render :partial => "captain_tasks", :locals => {:tasks => @tasks_assigned, :button => false, :assigned => true }

    .large-6.columns
      %h3 Verify Quests
      %ul
        = render :partial => "captain_tasks", :locals => {:tasks => @tasks_need_verify, :button => true , :assigned => false}
  .row
    .large-12.columns
      %h3 Completed Quests
      %ul
        = render :partial => "captain_tasks", :locals => {:tasks => @tasks_completed, :button => false, :assigned => false }
  %br
.row 
  .large-12.columns
    %p Footer goes here...      
