%h1 All Adventures for Captain #{current_user.username}

%p
  = link_to "Create new adventure", new_captain_task_path(@captain)
%p
  = link_to "Back", captain_path(current_user)

.task_on_board
  %h3 Available Tasks
  %ul
    = render :partial => "captain_tasks", :locals => {:tasks => @tasks_on_board, :button => false, :assigned => false }

.task_assigned
  %h3 Assigned Tasks
  %ul
    = render :partial => "captain_tasks", :locals => {:tasks => @tasks_assigned, :button => false, :assigned => true }

.task_need_verify
  %h3 Verify Tasks
  %ul
    = render :partial => "captain_tasks", :locals => {:tasks => @tasks_need_verify, :button => true , :assigned => false}

.task_completed
  %h3 Completed Tasks
  %ul
    = render :partial => "captain_tasks", :locals => {:tasks => @tasks_completed, :button => false, :assigned => false }
