= render :partial => 'shared/nav_bar'
.row
  .large-12.columns    
    %h1 All Quests for Pirate #{current_user.username}

    %p.top_links
      %a.button.round{:href => pirate_path(current_user) } Back
    
    .flash_message
    
    .large-12.columns
      %h4 Available Quests
      %ul
        = render :partial => "pirate_tasks", :locals => {:tasks => @tasks_on_board, :accept_button => true, :complete_button => false}
  .row
    .large-6.columns
      %h4 Assigned Quests
      %ul
        = render :partial => "pirate_tasks", :locals => {:tasks => @tasks_assigned, :accept_button => false, :complete_button => true}

    .large-6.columns
      %h4 Quests Awaiting Approval
      %ul
        = render :partial => "pirate_tasks", :locals => {:tasks => @tasks_need_verify, :accept_button => false, :complete_button => false}
  .row
    .large-12.columns
    %h4 Completed Quests
    %ul
      = render :partial => "pirate_tasks", :locals => {:tasks => @tasks_completed.limit(5), :accept_button => false, :complete_button => false}
  %br
.row 
  .large-12.columns
    %p Footer goes here...      
