%h1= @task.name
%h3= @task.description
= @task.worth
points

\#{link_to "Edit", edit_captain_task_path(@captain, @task)}
\#{link_to "Back", captain_tasks_path(@captain)}
\#{button_to "Delete", captain_task_path(@captain, @task), :method => :delete}