.banner
  .banner_index
  .break_1
    
.forms
  .form_errors
    .error.large-6.columns
      - if flash[:errors_signup]
        = render :partial => 'shared/signup_errors', :locals => {:errors => flash[:errors_signup]}
    .error_login.large-6.columns
      - if flash[:errors_login]
        = render :partial => 'shared/signup_errors', :locals => {:errors => flash[:errors_login]}

  .index_forms
    .row
      .sign_up.large-12.columns
        = form_for @captain do |f|
          = f.label :first_name
          = f.text_field :first_name
          %br
          = f.label :last_name
          = f.text_field :last_name
          %br
          = f.label :username
          = f.text_field :username
          %br
          = f.label :email
          = f.text_field :email
          %br
          = f.label :password
          = f.password_field :password
          %br
          = f.label :password_confirmation
          = f.password_field :password_confirmation
          %br
          = f.submit "Sign Up!", :class => 'fish_button'

      .login.large-12.columns
        = form_tag login_path, :class => 'captain_login' do
          = label_tag :username
          %br
          = text_field_tag :username
          %br
          = label_tag :password
          %br
          = password_field_tag :password
          %br
          = submit_tag "Login!", :class => 'fish_button'

      .underwater_index

