%h1 Welcome to DaddyShop!
- if @user && @user.errors.any?
  = render :partial => "shared/signup_errors", :user => @user
.sign_up
  = form_for User.new do |f|
    = f.label :first_name
    = f.text_field :first_name
    %br
    = f.label :last_name  
    = f.text_field :last_name  
    %br
    = f.label :email
    = f.text_field :email
    %br
    = f.label :password
    = f.text_field :password
    %br
    = f.label :password_confirmation
    = f.text_field :password_confirmation
    = f.submit "Sign Up!"
