%h1 Welcome to ParentalFinanceEducation.com!
.error
  - if flash[:errors_signup]
    = render :partial => 'shared/signup_errors', :locals => {:errors => flash[:errors_signup]}
.sign_up
  Sign Up!
  = form_for @captain do |f|
    = f.label :first_name
    = f.text_field :first_name
    %br
    = f.label :last_name
    = f.text_field :last_name
    %br
    = f.label :username
    = f.text_field :username
    %br
    = f.label :email
    = f.text_field :email
    %br
    = f.label :password
    = f.password_field :password
    %br
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    = f.submit "Sign Up!"
%br
%br
%br
.error_login
  - if flash[:errors_login]
    = render :partial => 'shared/signup_errors', :locals => {:errors => flash[:errors_login]}
.login
  Login!
  = form_tag login_path, :method => :get do
    = label_tag :username
    = text_field_tag :username
    %br
    = label_tag :password
    = password_field_tag :password
    = submit_tag "Login!"
