= render :partial => 'shared/nav_bar'
- content_for :title, "Pirate's Page"
.row
  .welcome.large-12.columns
    %p
      Ahoy, Pirate #{current_user.first_name.titleize}!

.row.pirate.profile_main
  .large-11.large-offset-1.small-11.columns.small-offset-1
    .row
      = render :partial => 'treasures/pirate_treasure_board', :locals => {:treasure_board => @treasures}
    %br
    #treasure_message

.row
  .large-12.columns#mid_nav_bar
    = render :partial => 'shared/pirates_sub_nav_bar', :locals => {:user => current_user}
%br
.row
  .large-6.columns.pirate.profile_left
    #treasure_message
    %h1 Waiting for Treasure
    = render :partial => 'treasures/pirate_treasures', :locals => {:treasures => @treasures_bought}

  .large-6.columns.pirate.profile_right
    = render :partial => "pirate_profile_tasks", :locals => { tasks: @tasks.limit(5) }

%br
.row
  / .large-12.columns.pirate.profile_bottom
