%h3 Create Reward

= form_for [:user, Item.new] do |f|
  = f.label :name
  = f.text_field :name, :required => true
  %br
  = f.label :description  
  = f.text_field :description, :required => true  
  %br
  = f.label :photo
  = f.text_field :photo
  %br
  = f.label :price
  = f.text_field :price, :required => true
  %br
  = f.submit "Create Reward" 
