#deliver_message
- treasures.each do |treasure|
  .treasure_div
    =image_tag "/treasure_chest.png"
    %ul.treasure
      %li Name: #{treasure.name} 
      %li Description: #{treasure.description}
      %li Price: #{treasure.price}
      %li Tax: #{treasure.tax}
      %li#last
        Total Price:
        %span.total_price
    - if bought
      = link_to 'Deliver', captain_delivers_treasure_path(current_user, treasure), :remote => true, :class => 'tiny button alert round', :id => 'deliver-treasure', :method => :post, :confirm => 'yeah'
