.error_max_treasure_limit
= form_for [current_user, treasure], :remote => true do |f|
  = f.label :name
  = f.text_field :name, :required => true
  = f.label :description
  = f.text_field :description, :required => true
  = f.label :photo
  = f.text_field :photo
  = f.label :price
  = f.text_field :price, :required => true
  
  Tax Rate: 
  %span#tax_rate= number_to_percentage(current_user.tax_rate, :precision => 2)
  %br
  %br
  Total Price: 
  %span#total_price 0
  %br
  = f.submit "Ahoy!"

