#treasure_message
- treasures.first((Treasure::MAX)).each do |treasure|
  %ul.treasure
    %li #{treasure.name}
    %li Description: #{treasure.description}
    / %li Photo: #{treasure.photo}
    %li #{treasure.price} Doubloons
    %li Tax: #{number_with_delimiter(treasure.tax, :delimiter => ',')}
    %li Total: #{number_with_delimiter(treasure.total_price, :delimiter => ',')} Doubloons
