%h1 Treasure
#treasure_message
- treasures.first((Treasure::MAX)).each do |treasure|
  %ul.treasure
    %li #{treasure.name}
    %li Description: #{treasure.description}
    / %li Photo: #{treasure.photo}
    %li #{treasure.price} Doubloons
    %li Tax: #{treasure.tax}
    %li Total: #{treasure.total_price} Doubloons
