.error
  - if flash[:error]
    = render :partial => 'shared/signup_errors', :locals => {:errors => flash[:error]}

%h3 Create Treasure
.create_treasure_form
  = form_for [current_user, Treasure.new] do |f|
    = f.label :name
    = f.text_field :name, :required => true
    %br
    = f.label :description
    = f.text_field :description, :required => true
    %br
    = f.label :photo
    = f.text_field :photo
    %br
    = f.label :price
    = f.text_field :price, :required => true
    %br
    Tax Rate:
    = number_to_percentage(current_user.tax_rate, :precision => 2)
    %br
    %br
    = f.submit "Create Treasure"

.success
  - if flash[:success_treasure_created]
    = flash[:success_treasure_created]

%ul.treasures_on_sale
  %h1 Treasure On Sale
  = render :partial => 'captain_treasures',
                        :locals => {:treasures => @treasures_on_sale,
                                    :on_sale => true,
                                    :bought => false}

%ul.treasures_bought
  %h1 Treasure Sold!
  = render :partial => 'captain_treasures',
                        :locals => {:treasures => @treasures_bought,
                                    :on_sale => false,
                                    :bought => true}

%ul.treasures_delivered
  %h1 Treasure Delivered
  = render :partial => 'captain_treasures',
                        :locals => {:treasures => @treasures_delivered,
                                    :on_sale => false,
                                    :bought => false}
