.error
  - if flash[:errors_treasure]
    = render :partial => 'shared/signup_errors', :locals => {:errors => flash[:errors_treasure]}

%h3 Create Treasure
.create_treasure_form
  = form_for [:captain, Treasure.new] do |f|
    = f.label :name
    = f.text_field :name, :required => true
    %br
    = f.label :description
    = f.text_field :description, :required => true
    %br
    = f.label :photo
    = f.text_field :photo
    %br
    = f.label :price
    = f.text_field :price, :required => true
    %br
    = f.submit "Create Treasure"

- @treasures.each do |treasure|
  %br
  %br
  = treasure.name
  %br
  = treasure.description
  %br
  = treasure.photo
  %br
  = treasure.price
  %br
  = link_to "Edit", edit_captain_treasure_path(current_user, treasure)
  = link_to "Delete", captain_treasure_path(current_user, treasure), :method => :delete
