= render :partial => 'shared/nav_bar'
.error
  - if flash[:errors_treasure]
    = render :partial => 'shared/signup_errors', :locals => {:errors => flash[:errors_treasure]}

%h3 Create Treasure
.create_treasure_form
  = form_for [:pirate, Treasure.new] do |f|
    = f.label :name
    = f.text_field :name, :required => true
    %br
    = f.label :description
    = f.text_field :description, :required => true
    %br
    = f.label :photo
    = f.text_field :photo
    %br
    = f.submit "Create Treasure"
