= render :partial => 'shared/nav_bar'
%h1 Wishlist
.error
  - if flash[:error]
    = render :partial => 'shared/signup_errors', :locals => {:errors => flash[:error]}
  -if flash[:error_deficit_gold]
    = flash[:error_deficit_gold]
.treasure_bought
  - if flash[:treasure_bought]
    = flash[:treasure_bought]

.treasure_on_sale
  %ul
    %h1 Treasures For Sale
    - if @treasures_on_sale
      = render :partial => 'pirate_treasures', :locals => {:treasures => @treasures_on_sale, :on_sale => true}

= link_to 'Add a treasure to the wishlist', new_pirate_treasure_path(current_user)
.wishlist
  %ul
    %h1 Wishlist
    - @treasures_wishlist.each do |treasure|
      %li.treasure
        %li #{treasure.name}
        %li Description: #{treasure.description}
        / %li Photo: #{treasure.photo}
        = link_to 'Edit', edit_pirate_treasure_path(current_user, treasure)
        = link_to 'Delete', pirate_treasure_path(current_user, treasure), :method => :delete, :confirm => "Are you sure you want to delete this?"

.treasure_bought
  %ul
    %h1 Treasures Bought
    = render :partial => 'pirate_treasures', :locals => {:treasures => @treasures_bought, :on_sale => false}

.treasure_delivered
  %ul
    %h1 Treasures Delivered
    = render :partial => 'pirate_treasures', :locals => {:treasures => @treasures_delivered, :on_sale => false}
