.error
  - if flash[:errors_treasure]
    = render :partial => 'shared/signup_errors', :locals => {:errors => flash[:errors_treasure]}
  -if flash[:error_deficit_gold]
    = flash[:error_deficit_gold]
.treasure_bought
  - if flash[:treasure_bought]
    = flash[:treasure_bought]

.treasure_on_sale
  %ul
    %h1 Treasures on Sale
    - if @treasures_on_sale
      = render 'pirate_treasures', :treasures => @treasures_on_sale

= link_to 'Add a treasure to the wishlist', new_pirate_treasure_path(current_user)
.wishlist
  %ul
    %h1 Wishlist
    - @treasures_wishlist.each do |treasure|
      %li.treasure
        %li Name: #{treasure.name}
        %li Description: #{treasure.description}
        %li Photo: #{treasure.photo}

        = link_to 'Edit', edit_pirate_treasure_path(current_user, treasure)
        = button_to 'Delete', pirate_treasure_path(current_user, treasure), :method => :delete, :confirm => "Are you sure you want to delete this?"

.treasure_bought
  %ul
    %h1 Treasures Bought
    = render 'pirate_treasures', :treasures => @treasures_bought
